langchain 
wikipedia
langchain-community 
langchain-tavily
langchain-openai 
langchain-anthropic
langchain-google-genai
langchain-groq
python-dotenv
pydantic
duckduckgo-search
langchain-ollama
termcolor
streamlit 
matplotlib
markdown 